.login_container{
    border: 2px solid #007bff;
}
p{
    text-align: center;
    margin: 10px 0;
}
.social_icon{
    text-align: center;
    margin: 10px 0;
}
.social_icon Button{
    text-align: center;
    margin: 0px 5px;
}

.google{
    background-color: #f4c20d48;
    border-radius: 50%;
    margin-right: 15px;
    /* font-size: 20px; */
}
.github{
    background-color: red;
    color: white;
    border-radius: 50%;
    margin-right: 15px;
}